a {
  text-align: center;
}
h1 {
  font-size: 300%;
  font-family: arial;
  text-align: center;
  color: #525252;
}
#top {
  display: flex;
  background-color: #525252;
  width: 60%;
  height: 3px;
  margin-top: -1%;
}
h4 {
  font-size: 120%;
  font-family: arial;
  text-align: center;
  color: #525252;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-right: 8%;
  margin-left: 8%;
}

.mainContainer{
  width: 80%;
  margin: auto;
  margin-bottom: 32px;
  margin-top: 32px;
}

.containerImage{
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button {
 background-color: #55d9d4;
 border-radius: 50%;
 font-size: 16px;
 color: #525252;
 font-family: arial;
 padding: 60px 10px;
 text-decoration: none;
 cursor: pointer;
}
.button:hover {
 background-color: orange;
}

#rect {
  background-color: #525252;
  width: 100%;
  height: 10px;
}
#rect2 {
  background-color: #525252;
  width: 100%;
  height: 10px;
}
#rect3 {
  background-color: #525252;
   width: 100%;
  height: 25px;
}
#rect4 {
  background-color: #525252;
  width: 100%;
  height: 25px;
}
#triangle {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 30px solid #525252;
	border-bottom: 25px solid transparent;
}
#triangle2 {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 30px solid #525252;
	border-bottom: 0px solid transparent;
}

#bio {
  color: #525252;
  position: absolute;
  margin-left: 40;
  margin-right: 40;
}
#abt {
 color: #525252;
 position: absolute;
 margin-left: 116;
 margin-top: -25;
}
